<div class="container">
  <h1>See All TODOS tasks</h1>

  <div id='new-todo'>
    <div class="inner">
      <a href="/todos/new" id='new-todo-form'>Add a Task!</a>
    </div>
  </div>

  <div class='todos'>
    <% @todos.each do |todo| %>
    <%= erb :'_task', layout: false, locals: {todo: todo} %>
    <% end %>
  </div>
</div>
